---
import Layout from '@/layouts/Layout.astro'
import { SiTailwindcss } from 'react-icons/si'
import { FaReact } from 'react-icons/fa6'
import { FaHtml5 } from 'react-icons/fa'
import { FaCss3 } from 'react-icons/fa'
import { IoLogoJavascript } from 'react-icons/io'
import { FaNodeJs } from 'react-icons/fa'
---

<Layout title="Ángel Ramírez">
  <main class="flex justify-center p-10">
    <section>
      <h1 class="font-Palanquin text-4xl font-bold">Ángel Ramírez</h1>

      <div class="flex">
        <img src="foto.jpg" alt="foto" class="imgHero" />
        <img src="ARlogo.png" alt="logo" class="imgHero -translate-x-4 z-10" />
      </div>
    </section>
    <section class="tech">
      <SiTailwindcss />
      <FaReact />
      <FaHtml5 />
      <FaCss3 />
      <IoLogoJavascript />
      <FaNodeJs />
    </section>
  </main>
</Layout>

<style>
  .imgHero {
    @apply w-20 h-20 rounded-full;
  }
  .tech {
    @apply flex justify-center items-center gap-2;
  }
  .tech > * {
    @apply text-6xl;
  }
</style>
