---
import Layout from '@/layouts/Layout.astro'

import Hero from '@/components/Hero.astro'
import Tech from '@/components/Tech.astro'
---

<Layout title="Ángel Ramírez">
  <main class="flex flex-col justify-center h-screen items-center">
    <div class="-translate-y-10">
      <Hero />
      <div class="h-10"></div>
      <Tech />
    </div>
  </main>
</Layout>

<style>
  .imgHero {
    @apply w-20 h-20 rounded-full;
  }
  .tech {
    @apply flex justify-center items-center gap-2;
  }
  .tech > * {
    @apply text-6xl;
  }
</style>
